<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <input #searchBox (keyup)="search(searchBox.value)" placeholder="Rechercher un pokémon">
            </div>
            <div class="card-body">
                <a  
                    *ngFor="let pokemon of pokemons$ | async"
                    (click)="goToDetail(pokemon)"
                >
                    {{ pokemon.name }}
                </a>
            </div>

        </div>
    </div>
</div>